#!location /etc/udev/rules.d
#!profile x1t
# Disable wake from sleep when the keyboard is attached or detached
SUBSYSTEM=="platform", KERNEL=="INT33D6:00", DRIVER=="intel-vbtn", ATTR{power/wakeup}="disabled"
